/student/nbproject/private/
/nbproject/private/
/student/class/nbproject/private/
/student/project/nbproject/private/
/student/student1/nbproject/private/
/student/study1/nbproject/private/
/student/study/nbproject/private/
/student/study/study1/nbproject/private/
/student/sp2/nbproject/private/
/student/sp3/nbproject/private/